.Hero-section {
  background-image: url("shoe.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #FAF7F3;
}

.Hero-section-container {
  text-align: center;
}

.Hero-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.Hero-section p {
  font-size: 1.2em;
}
body{
  font-family: sans-serif; 
  background-color: #FAF7F3;

  margin: 0%;
  padding: 0%;
}
.navbar{
  display: flex;
  align-items: center; /*HA divs inside navbar*/
  justify-content: space-between;

  border-bottom: 1px solid #F0E4D3;
  background-color: #FAF7F3;

}

.navbar-left>ul>li,.navbar-right>ul>li{
  list-style-type: none;
  cursor:pointer;
}

.navbar-left>ul{
  display: flex;
  align-items: center; /*HA li inside div left*/
  justify-content: space-evenly;
  width: 400px;
  padding-left: 0;/* the extra 40 padding that comes with ul*/
}

.navbar-right>ul{
  display: flex;
  align-items: center; /*HA li inside div right */
  padding-left:0;
  width:100px;
}
.hamburger{
  display:none;
}

.hamburger{
  display: block;
  font-size: 30px;
  cursor: default;
  padding-left:20px;

  user-select: none;
  -webkit-user-select:none;
  outline:none;
}

#DDM_items{
  background-color: #FAF7F3;
  max-width:200px;
  padding:0;
  margin: 0;
}
.hide{
  display:none;
}
#DDM_items>ul{
  list-style-type: none;
  padding-left:20px;
  margin:0;
  border-right: 1px solid #F0E4D3;
  border-bottom: 1px solid #F0E4D3;
  height:auto;

}
#DDM_items>ul>li{
  padding: 20px;
}

#DDM_items li{
  border-bottom: 1px solid #F0E4D3;
}


@media screen and (max-width: 768px){
  .navbar-right{
    display:none;
  }
  .navbar-left{
    margin-right:25px;
  }
  .Hero-section {
    background-image: url('shoe.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-color: #FAF7F3;
  }

  .Hero-section-container {
    text-align: center;
  }

  .Hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .Hero-section p {
    font-size: 1.2em;
  }

}

